@page
@model BOnlineStore.IdentityServer.Pages.Login.Index

<div class="auth-page-wrapper pt-5">
    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a href="#" class="d-inline-block auth-logo">
                                <img src="~/assets/images/logo-light.png" alt="" height="20">
                            </a>
                        </div>
                        <p class="mt-3 fs-15 fw-semibold">B-Online-Store</p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4 card-bg-fill">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Hoş Geldiniz...</h5>
                                <p class="text-muted">B-Online-Store adresine devam etmek için oturum açın.</p>
                            </div>
                            <div class="p-2 mt-4">

                            @if (Model.View.EnableLocalLogin)
                            {
                                    <form asp-page="/Account/Login/Index" class="needs-validation" novalidate>
                                        <input type="hidden" asp-for="Input.ReturnUrl" />
                                        <div class="mb-3 position-relative">
                                            <label asp-for="Input.Username" class="form-label">E-Mail</label>
                                            <input asp-for="Input.Username" type="text" class="form-control" id="username" placeholder="Mail adresinizi girin" aria-describedby="username" tabindex="1" required>
                                            <div class="invalid-tooltip">
                                                Lütfen e-mail adresinizi giriniz.
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <div class="float-end">
                                                <a href="#" class="text-muted">Şifrenizimi unuttunuz?</a>
                                            </div>
                                            <label asp-for="Input.Password" class="form-label">Şifre</label>
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                <input asp-for="Input.Password" type="password" class="form-control pe-5 password-input" id="password-input" tabindex="2" placeholder="Şifrenizi girin" required>
                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                <div class="invalid-tooltip">
                                                    Lütfen şifrenizi giriniz.                    
                                                </div>
                                            </div>
                                        </div>

                                        @if (Model.View.AllowRememberLogin)
                                        {
                                            <div class="form-check">
                                                <input asp-for="Input.RememberLogin" class="form-check-input" type="checkbox" id="auth-remember-check" tabindex="3">
                                                <label asp-for="Input.RememberLogin" class="form-check-label" for="auth-remember-check">Beni hatırla</label>
                                            </div>
                                        }

                                        <div class="mt-4">
                                            <button name="Input.Button" value="login" class="btn btn-primary w-100" type="submit" tabindex="4">Oturum Aç</button>
                                        </div>

                                        @if (Model.View.VisibleExternalProviders.Any())
                                        {
                                            <div class="mt-4 text-center">
                                                <div class="signin-other-title">
                                                    <h5 class="fs-13 mb-4 title">Sign In with</h5>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light"><i class="ri-facebook-fill fs-16"></i></button>
                                                    <button type="button" class="btn btn-danger btn-icon waves-effect waves-light"><i class="ri-google-fill fs-16"></i></button>
                                                    <button type="button" class="btn btn-dark btn-icon waves-effect waves-light"><i class="ri-github-fill fs-16"></i></button>
                                                    <button type="button" class="btn btn-info btn-icon waves-effect waves-light"><i class="ri-twitter-fill fs-16"></i></button>
                                                </div>
                                            </div>
                                        }

                                    </form>
                            }

                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="mt-4 text-center">
                        <p class="mb-0">Hesabınız mı yok ? <a href="#" class="fw-bold text-primary text-decoration-underline"> Hesap oluştur </a> </p>
                    </div>

                    <partial name="_ValidationSummary" />

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
    <!-- footer -->
    @*<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy; <script>document.write(new Date().getFullYear())</script> Velzon. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>*@
    <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->

@section scripts{
    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>

    <script src="~/assets/js/pages/form-validation.init.js"></script>
    
    <!-- password-addon init -->
    <script src="~/assets/js/pages/password-addon.init.js"></script>

    
}



