@page
@model BOnlineStore.IdentityServer.Pages.Login.Index

<div class="app-content content ">    
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-basic px-2">
                <div class="auth-inner my-2">
                    <!-- Login basic -->
                    <div class="card mb-0">
                        <div class="card-body">

                            <h4 class="card-title mb-1">Hoşgeldiniz! 👋</h4>
                            <p class="card-text mb-2">Lütfen hesabınıza giriş yapın ve maceraya başlayın</p>

                            <partial name="_ValidationSummary" />

                            @if (Model.View.EnableLocalLogin)
                            {
                                <form class="auth-login-form mt-2" asp-page="/Account/Login/Index">
                                    <input type="hidden" asp-for="Input.ReturnUrl" />
                                    <div class="mb-1">
                                        <label asp-for="Input.Username" class="form-label">Email</label>
                                        <input asp-for="Input.Username" type="text" class="form-control" id="login-email" placeholder="ahmet@example.com" aria-describedby="login-email" tabindex="1" autofocus />
                                    </div>

                                    <div class="mb-1">
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label" asp-for="Input.Password">Şifre</label>
                                            <a href="#">
                                                <small>Şifremi Unuttum</small>
                                            </a>
                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input asp-for="Input.Password" type="password" autocomplete="off" class="form-control form-control-merge" id="login-password" tabindex="2" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="login-password" />
                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        </div>
                                    </div>

                                    @if (Model.View.AllowRememberLogin)
                                    {

                                        <div class="mb-1">
                                            <div class="form-check">
                                                <input asp-for="Input.RememberLogin" class="form-check-input" type="checkbox" id="remember-me" tabindex="3" />
                                                <label asp-for="Input.RememberLogin" class="form-check-label" for="remember-me"> Remember Me </label>
                                            </div>
                                        </div>

                                    }

                                    <button name="Input.Button" value="login" class="btn btn-primary w-100" tabindex="4">Oturum Aç</button>

                                </form>
                            }

                            <p class="text-center mt-2">
                                <span>Platformumuzda yeni misiniz?</span>
                                <a href="#">
                                    <span>Hesap oluştur</span>
                                </a>
                            </p>

                            @if (Model.View.VisibleExternalProviders.Any())
                            {

                                <div class="divider my-2">
                                    <div class="divider-text">or</div>
                                </div>

                                <div class="auth-footer-btn d-flex justify-content-center">
                                    <a href="#" class="btn btn-facebook">
                                        <i data-feather="facebook"></i>
                                    </a>
                                    <a href="#" class="btn btn-twitter white">
                                        <i data-feather="twitter"></i>
                                    </a>
                                    <a href="#" class="btn btn-google">
                                        <i data-feather="mail"></i>
                                    </a>
                                    <a href="#" class="btn btn-github">
                                        <i data-feather="github"></i>
                                    </a>
                                </div>

                            }
                        </div>
                    </div>
                    <!-- /Login basic -->
                </div>
            </div>
        </div>
    </div>
</div>



