<app-breadcrumbs
  title="{{ 'PRODUCTION' | translate }}"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div *ngIf="!formActive">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="formulaDataSource"
    [showBorders]="true"
    [remoteOperations]="true"
    [repaintChangesOnly]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    [rowAlternationEnabled]="true"
    (onExporting)="onExporting($event)"
  >
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-filter-row [visible]="true"> </dxo-filter-row>
    <dxo-header-filter [visible]="true"> </dxo-header-filter>
    <dxo-editing
      mode="row"
      [allowDeleting]="false"
      [allowUpdating]="false"
      [useIcons]="true"
    >
    </dxo-editing>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [displayMode]="'full'"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    >
    </dxo-pager>

    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-filter-builder [allowHierarchicalFields]="true"></dxo-filter-builder>
    <dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']"></dxo-export>

    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

    <dxo-toolbar>
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button icon="refresh" (onClick)="refreshDataGrid($event)">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button icon="add" (onClick)="newFormula($event)"> </dx-button>
        </div>
      </dxi-item>
      <dxi-item name="groupPanel"></dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item name="columnChooserButton"></dxi-item>
    </dxo-toolbar>

    <dxi-column dataField="id" [visible]="false"> </dxi-column>
    <dxi-column dataField="code" caption="{{ 'CODE' | translate }}">
    </dxi-column>
    <dxi-column dataField="name" caption="{{ 'NAME' | translate }}">
    </dxi-column>
    <dxi-column dataField="modelId" caption="{{ 'MODEL' | translate }}">
      <dxo-lookup
        [dataSource]="modelDataSource"
        displayExpr="name"
        valueExpr="id"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column
      dataField="rawMaterialId"
      caption="{{ 'RAWMATERIAL' | translate }}"
    >
      <dxo-lookup
        [dataSource]="rawMaterialDataSource"
        displayExpr="name"
        valueExpr="id"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column
      dataField="formulaTypeId"
      caption="{{ 'FORMULATYPE' | translate }}"
    >
      <dxo-lookup
        [dataSource]="formulaTypeDataSource"
        displayExpr="name"
        valueExpr="id"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column
      dataField="usageAmount"
      dataType="number"
      format="#,##0.00"
      caption="{{ 'USAGEAMOUNT' | translate }}"
    >
    </dxi-column>
    <dxi-column
      dataField="formulaText"
      caption="{{ 'FORMULATEXT' | translate }}"
    >
    </dxi-column>
    <dxi-column type="buttons" [showInColumnChooser]="false">
      <dxi-button
        hint="{{ 'EDIT' | translate }}"
        icon="edit"
        [onClick]="editFormula"
      ></dxi-button>
      <dxi-button
        hint="{{ 'DELETE' | translate }}"
        icon="trash"
        [onClick]="removeFormula"
      ></dxi-button>
    </dxi-column>
  </dx-data-grid>
</div>

<div *ngIf="formActive">
  <app-formula-form
    [formula]="formula"
    (closeForm)="submitForm($event)"
    (cancelForm)="cancelForm()"
  >
  </app-formula-form>
</div>
