<app-breadcrumbs
  title="{{ 'PRODUCTION' | translate }}"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<!-- Formül listesi -->
<div *ngIf="!formActive">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="formulaDataSource"
    [showBorders]="true"
    [remoteOperations]="true"
    [repaintChangesOnly]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    [rowAlternationEnabled]="true"
    (onExporting)="onExporting($event)"
  >
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-column-chooser [enabled]="true" [mode]="'select'">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-column-chooser>
    <dxo-filter-row [visible]="true"> </dxo-filter-row>
    <dxo-header-filter [visible]="true"> </dxo-header-filter>
    <dxo-editing
      mode="row"
      [allowDeleting]="false"
      [allowUpdating]="false"
      [useIcons]="true"
    >
    </dxo-editing>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [displayMode]="'full'"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    >
    </dxo-pager>

    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-filter-builder [allowHierarchicalFields]="true"></dxo-filter-builder>
    <dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']"></dxo-export>

    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

    <dxo-toolbar>
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button icon="refresh" (onClick)="refreshDataGrid($event)">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button icon="add" (onClick)="newFormula($event)"> </dx-button>
        </div>
      </dxi-item>
      <dxi-item name="groupPanel"></dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item name="columnChooserButton"></dxi-item>
    </dxo-toolbar>

    <dxi-column dataField="id" [visible]="false"> </dxi-column>
    <dxi-column
      dataField="modelId"
      caption="{{ 'MODEL' | translate }}"
      [hidingPriority]="4"
    >
      <dxo-lookup
        [dataSource]="modelDataSource"
        displayExpr="name"
        valueExpr="id"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column
      dataField="panelId"
      caption="{{ 'Panel' | translate }}"
      [hidingPriority]="4"
    >
      <dxo-lookup
        [dataSource]="panelDataSource"
        displayExpr="name"
        valueExpr="id"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="code" caption="{{ 'CODE' | translate }}">
    </dxi-column>
    <dxi-column dataField="name" caption="{{ 'NAME' | translate }}">
    </dxi-column>
    <dxi-column
      dataField="rawMaterialId"
      caption="{{ 'RAWMATERIAL' | translate }}"
      [hidingPriority]="3"
    >
      <dxo-lookup
        [dataSource]="rawMaterialDataSource"
        displayExpr="name"
        valueExpr="id"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column
      dataField="formulaTypeId"
      caption="{{ 'FORMULATYPE' | translate }}"
      [hidingPriority]="2"
    >
      <dxo-lookup
        [dataSource]="formulaTypeDataSource"
        displayExpr="name"
        valueExpr="id"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column
      dataField="usageAmount"
      dataType="number"
      format="#,##0.00"
      caption="{{ 'USAGEAMOUNT' | translate }}"
      [hidingPriority]="1"
    >
    </dxi-column>
    <dxi-column
      dataField="formulaText"
      caption="{{ 'FORMULATEXT' | translate }}"
      [hidingPriority]="0"
    >
    </dxi-column>
    <dxi-column type="buttons" [showInColumnChooser]="false">
      <dxi-button
        hint="{{ 'EDIT' | translate }}"
        icon="edit"
        [onClick]="editFormula"
      ></dxi-button>
      <dxi-button
        hint="{{ 'DELETE' | translate }}"
        icon="trash"
        [onClick]="removeFormula"
      ></dxi-button>
      <dxi-button
        hint="{{ 'COPY' | translate }}"
        icon="copy"
        [onClick]="showCopyFormulaPopup"
      ></dxi-button>
    </dxi-column>
  </dx-data-grid>
</div>

<!-- Formul detayı -->
<div *ngIf="formActive">
  <app-formula-form
    [formula]="formula"
    (closeForm)="submitForm($event)"
    (cancelForm)="cancelForm()"
  >
  </app-formula-form>
</div>

<!-- Formül kopyalama -->
<dx-popup
  id="copyFormulaPopup"
  [width]="'auto'"
  [height]="'auto'"
  [showTitle]="true"
  title="{{ 'COPYFORMULA' | translate }}"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="false"
  [(visible)]="popupVisible"
  [position]="'center'"
>
  <div *dxTemplate="let data of 'content'">
    <form (submit)="copyFormula($event)">
      <div class="text-left h7 pb-1">
        {{
          "ENTERCOPYFORMULAMODEL" | translate : { FormulaName: copyFormulaName }
        }}
      </div>
      <div class="row pb-3">
        <dx-select-box
          label="{{ 'MODEL' | translate }}"
          [(value)]="copyModelId"
          [inputAttr]="{ 'aria-label': 'Owner' }"
          [stylingMode]="'outlined'"
          [labelMode]="'floating'"
          valueExpr="id"
          displayExpr="name"
          placeholder="{{ 'ENTERMODEL' | translate }}"
          [showClearButton]="true"
          [dataSource]="modelDataSource"
        >
          <!-- <dx-validator>
            <dxi-validation-rule
              type="custom"
              [validationCallback]="validateModelIdAndPanelIdCannotBeBothSet"
              message="{{ 'MODELIDANDPANELIDCANNOTBEBOTHSET' | translate }}"
            ></dxi-validation-rule>
          </dx-validator> -->
        </dx-select-box>
        <dx-select-box
          label="{{ 'PANEL' | translate }}"
          [(value)]="copyPanelId"
          [inputAttr]="{ 'aria-label': 'Owner' }"
          [stylingMode]="'outlined'"
          [labelMode]="'floating'"
          valueExpr="id"
          displayExpr="name"
          placeholder="{{ 'ENTERPANEL' | translate }}"
          [showClearButton]="true"
          [dataSource]="panelDataSource"
        >
          <!-- <dx-validator>
            <dxi-validation-rule
              type="custom"
              [validationCallback]="validateModelIdAndPanelIdCannotBeBothSet"
              message="{{ 'MODELIDANDPANELIDCANNOTBEBOTHSET' | translate }}"
            ></dxi-validation-rule>
          </dx-validator> -->
        </dx-select-box>
        <dx-text-box
          [(value)]="copyFormulaCode"
          label="{{ 'NEWFORMULACODE' | translate }}"
          placeholder="{{ 'ENTERFORMULACODE' | translate }}"
          [stylingMode]="'outlined'"
          [labelMode]="'floating'"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="{{ 'FORMULACODENOTEMPTY' | translate }}"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div class="row align-items-end">
        <div class="text-end">
          <dx-button
            text="{{ 'COPY' | translate }}"
            type="normal"
            [useSubmitBehavior]="true"
          ></dx-button>
          <dx-button
            text="{{ 'CANCEL' | translate }}"
            type="normal"
            (onClick)="cancelCopyFormula($event)"
            style="margin-left: 10px"
          ></dx-button>
        </div>
      </div>
    </form>
  </div>
</dx-popup>
