@if (ViewContext.ModelState.IsValid == false)
{
    <!-- Danger Alert -->
    <div class="alert alert-danger alert-solid" role="alert">
        <strong>Oturum açarken hata oluştu!</strong>
        <div asp-validation-summary="All" class="alert alert-danger alert-solid"></div>
    </div>


}