apiVersion: apps/v1
kind: Deployment
metadata:
  name: production.bonlinestore.com
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: production.bonlinestore.com
  template:
    metadata:
      labels:
        app: production.bonlinestore.com
    spec:
      containers:
        - name: production-bonlinestore-com
          image: scakir1978/production.bonlinestore.com:latest
          imagePullPolicy: Always          
          ports:
            - containerPort: 443
            - containerPort: 80
          env:
            - name: ASPNETCORE_ENVIRONMENT
              valueFrom:
                configMapKeyRef:
                  name: production.bonlinestore.com
                  key: aspnetcore-environment
            - name: ASPNETCORE_URLS
              valueFrom:
                configMapKeyRef:
                  name: production.bonlinestore.com
                  key: aspnetcore-urls
            - name: IdentityServerUrl
              valueFrom:
                configMapKeyRef:
                  name: production.bonlinestore.com
                  key: identity-server-url
            - name: DefinitionsApiUrl
              valueFrom:
                configMapKeyRef:
                  name: production.bonlinestore.com
                  key: definitions-api-url
            - name: DatabaseSettings__ConnectionString
              valueFrom:
                configMapKeyRef:
                  name: production.bonlinestore.com
                  key: productiondb-connection-string
            - name: SeqServerUrl
              valueFrom:
                configMapKeyRef:
                  name: production.bonlinestore.com
                  key: seq-server-url
            - name: ProductionRunningMode
              valueFrom:
                configMapKeyRef:
                  name: production.bonlinestore.com
                  key: production-running-mode
---
apiVersion: v1
kind: Service
metadata:
  name: production-bonlinestore-com
  namespace: default
  annotations:
    service.beta.kubernetes.io/do-loadbalancer-name: "production.bonlinestore.com"
spec:
  selector:
    app: production.bonlinestore.com
  ports:
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
      nodePort: 30412 # NodePort numarasý (30000-32767 aralýðýnda)
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30812 # NodePort numarasý (30000-32767 aralýðýnda)
  type: NodePort
