<app-breadcrumbs
  title="{{ 'DEFINITIONS' | translate }}"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<dx-data-grid
  id="gridContainer"
  [dataSource]="recipeTypeDataSource"
  [showBorders]="true"
  [remoteOperations]="true"
  [repaintChangesOnly]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [rowAlternationEnabled]="true"
  (onExporting)="onExporting($event)"
  (onInitNewRow)="onInitNewRow($event)"
>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-filter-row [visible]="true"> </dxo-filter-row>
  <dxo-header-filter [visible]="true"> </dxo-header-filter>
  <dxo-editing
    mode="popup"
    [allowAdding]="true"
    [allowDeleting]="true"
    [allowUpdating]="true"
    [useIcons]="true"
    [refreshMode]="'full'"
    [confirmDelete]="true"
  >
    <dxo-form [labelMode]="'floating'">
      <!-- Reçete kod ve ad bilgileri -->
      <dxi-item
        itemType="group"
        [colCount]="3"
        [colSpan]="2"
        caption="{{ 'RECIPETYPEINFO' | translate }}"
      >
        <dxi-item dataField="code"></dxi-item>
        <dxi-item dataField="name"></dxi-item>
        <dxi-item dataField="formName"></dxi-item>
      </dxi-item>
      <dxi-item itemType="tabbed" [colSpan]="2">
        <dxo-tab-panel-options [deferRendering]="false">
        </dxo-tab-panel-options>
        <dxi-tab
          title="{{ 'RECIPEANDPANELRAWMATERIALLIST' | translate }}"
          [colCount]="2"
        >
          <dxi-item dataField="rawMaterialIds"></dxi-item>
          <dxi-item dataField="panelRawMaterialIds"></dxi-item>
        </dxi-tab>
        <dxi-tab
          title="{{ 'GLASSPATTENRRAWMATERIALLIST' | translate }}"
          [colCount]="2"
        >
          <dxi-item dataField="glassRawMaterialIds"></dxi-item>
          <dxi-item dataField="panelGlassRawMaterialIds"></dxi-item>
        </dxi-tab>
      </dxi-item>
    </dxo-form>
  </dxo-editing>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [visible]="true"
    [displayMode]="'full'"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
  >
  </dxo-pager>

  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-builder [allowHierarchicalFields]="true"></dxo-filter-builder>
  <dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']"></dxo-export>

  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

  <dxo-toolbar>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button icon="refresh" (onClick)="refreshDataGrid($event)">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item name="groupPanel"></dxi-item>
    <dxi-item name="addRowButton"></dxi-item>
    <dxi-item name="saveButton"></dxi-item>
    <dxi-item name="revertButton"></dxi-item>
    <dxi-item name="exportButton"></dxi-item>
    <dxi-item name="columnChooserButton"></dxi-item>
  </dxo-toolbar>

  <dxi-column dataField="id" [allowEditing]="false" [visible]="false">
  </dxi-column>
  <dxi-column dataField="code" caption="{{ 'CODE' | translate }}">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="name" caption="{{ 'NAME' | translate }}">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="formName" caption="{{ 'FORMNAME' | translate }}">
    <dxo-lookup [dataSource]="formNameList" displayExpr="name" valueExpr="code">
    </dxo-lookup>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column
    dataField="rawMaterialIds"
    caption="{{ 'RECIPERAWMATERIALLIST' | translate }}"
    [visible]="false"
    [showInColumnChooser]="false"
    editCellTemplate="rawMaterialIdsTemplate"
  >
  </dxi-column>
  <dxi-column
    dataField="panelRawMaterialIds"
    caption="{{ 'PANELRAWMATERIALLIST' | translate }}"
    [visible]="false"
    [showInColumnChooser]="false"
    editCellTemplate="panelRawMaterialIdsTemplate"
  >
  </dxi-column>
  <!-- Kabin Cam Boyu -->
  <dxi-column
    dataField="glassRawMaterialIds"
    caption="{{ 'GLASSRAWMATERIAL' | translate }}"
    [visible]="false"
    [showInColumnChooser]="false"
    editCellTemplate="glassRawMaterialIdsTemplate"
  >
  </dxi-column>
  <!-- Panel Cam Boyu -->
  <dxi-column
    dataField="panelGlassRawMaterialIds"
    caption="{{ 'PANELGLASSRAWMATERIAL' | translate }}"
    [visible]="false"
    [showInColumnChooser]="false"
    editCellTemplate="panelGlassRawMaterialIdsTemplate"
  >
  </dxi-column>

  <!-- #region Hammadde Listesi -->
  <div *dxTemplate="let data of 'rawMaterialIdsTemplate'">
    <dx-data-grid
      [dataSource]="data.value"
      keyExpr="id"
      [showBorders]="true"
      [repaintChangesOnly]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [rowAlternationEnabled]="true"
      (onSaved)="onSaved($event, data)"
      (onRowInserting)="onRowInserting($event)"
    >
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxi-column
        dataField="id"
        caption="{{ 'RECIPERAWMATERIALLIST' | translate }}"
        editCellTemplate="rawMaterialDropDownBoxEditor"
      >
        <dxo-lookup
          [dataSource]="rawMaterialDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxo-editing
        mode="row"
        [allowUpdating]="false"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true"
        [useIcons]="true"
      ></dxo-editing>

      <!-- #region [Hammadde dropdownbox] -->
      <div
        *dxTemplate="let rawMaterialCellInfo of 'rawMaterialDropDownBoxEditor'"
      >
        <dx-drop-down-box
          [(value)]="rawMaterialCellInfo.value"
          valueExpr="id"
          displayExpr="name"
          placeholder="{{ 'ENTERRAWMATERIAL' | translate }}"
          [showClearButton]="true"
          [dataSource]="rawMaterialDataSource"
          [stylingMode]="'outlined'"
          contentTemplate="contentTemplate"
        >
          <div *dxTemplate="let e of 'contentTemplate'">
            <dx-data-grid
              [dataSource]="rawMaterialDataSource"
              [hoverStateEnabled]="true"
              [selectedRowKeys]="[rawMaterialCellInfo.value]"
              [focusedRowEnabled]="true"
              [focusedRowKey]="rawMaterialCellInfo.value"
              [hoverStateEnabled]="true"
              (onSelectionChanged)="
                onRawMaterialGridSelectionChanged(
                  $event.selectedRowKeys,
                  rawMaterialCellInfo,
                  e.component
                )
              "
              height="100%"
            >
              <dxo-selection mode="single"></dxo-selection>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxi-column dataField="code" caption="{{ 'CODE' | translate }}">
              </dxi-column>
              <dxi-column dataField="name" caption="{{ 'NAME' | translate }}">
              </dxi-column>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
      </div>
      <!-- #endregion -->
    </dx-data-grid>
  </div>
  <!-- #endregion -->

  <!-- #region Panel Hammadde Listesi -->
  <div *dxTemplate="let panelData of 'panelRawMaterialIdsTemplate'">
    <dx-data-grid
      [dataSource]="panelData.value"
      keyExpr="id"
      [showBorders]="true"
      [repaintChangesOnly]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [rowAlternationEnabled]="true"
      (onSaved)="onSaved($event, panelData)"
      (onRowInserting)="onRowInserting($event)"
    >
      <dxi-column
        dataField="id"
        caption="{{ 'PANELRAWMATERIALLIST' | translate }}"
        editCellTemplate="panelRawMaterialDropDownBoxEditor"
      >
        <dxo-lookup
          [dataSource]="rawMaterialDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxo-editing
        mode="row"
        [allowUpdating]="false"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true"
        [useIcons]="true"
      ></dxo-editing>
      <!-- #region [Hammadde dropdownbox] -->
      <div
        *dxTemplate="
          let panelRawMaterialCellInfo of 'panelRawMaterialDropDownBoxEditor'
        "
      >
        <dx-drop-down-box
          [(value)]="panelRawMaterialCellInfo.value"
          valueExpr="id"
          displayExpr="name"
          placeholder="{{ 'ENTERRAWMATERIAL' | translate }}"
          [showClearButton]="true"
          [dataSource]="rawMaterialDataSource"
          [stylingMode]="'outlined'"
          contentTemplate="contentTemplate"
        >
          <div *dxTemplate="let e of 'contentTemplate'">
            <dx-data-grid
              [dataSource]="rawMaterialDataSource"
              [hoverStateEnabled]="true"
              [selectedRowKeys]="[panelRawMaterialCellInfo.value]"
              [focusedRowEnabled]="true"
              [focusedRowKey]="panelRawMaterialCellInfo.value"
              [hoverStateEnabled]="true"
              (onSelectionChanged)="
                onRawMaterialGridSelectionChanged(
                  $event.selectedRowKeys,
                  panelRawMaterialCellInfo,
                  e.component
                )
              "
              height="100%"
            >
              <dxo-selection mode="single"></dxo-selection>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxi-column dataField="code" caption="{{ 'CODE' | translate }}">
              </dxi-column>
              <dxi-column dataField="name" caption="{{ 'NAME' | translate }}">
              </dxi-column>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
      </div>
      <!-- #endregion -->
    </dx-data-grid>
  </div>
  <!-- #endregion -->

  <!-- #region Cam Hammadde Listesi -->
  <div *dxTemplate="let glassData of 'glassRawMaterialIdsTemplate'">
    <dx-data-grid
      [dataSource]="glassData.value"
      keyExpr="lengthMaterialId"
      [showBorders]="true"
      [repaintChangesOnly]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [rowAlternationEnabled]="true"
      (onSaved)="onSaved($event, glassData)"
    >
      <dxi-column
        dataField="lengthMaterialId"
        caption="{{ 'GLASSLENGTHRAWMATERIAL' | translate }}"
        editCellTemplate="glassWidthRawMaterialDropDownBoxEditor"
      >
        <dxo-lookup
          [dataSource]="rawMaterialDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxi-column
        dataField="widthMaterialId"
        caption="{{ 'GLASSWIDTHRAWMATERIAL' | translate }}"
        editCellTemplate="glassWidthRawMaterialDropDownBoxEditor"
      >
        <dxo-lookup
          [dataSource]="rawMaterialDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxo-editing
        mode="row"
        [allowUpdating]="false"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true"
        [useIcons]="true"
      ></dxo-editing>
      <!-- #region [Hammadde dropdownbox] -->
      <div
        *dxTemplate="
          let glassWidthRawMaterialCellInfo of 'glassWidthRawMaterialDropDownBoxEditor'
        "
      >
        <dx-drop-down-box
          [(value)]="glassWidthRawMaterialCellInfo.value"
          valueExpr="id"
          displayExpr="name"
          placeholder="{{ 'ENTERRAWMATERIAL' | translate }}"
          [showClearButton]="true"
          [dataSource]="rawMaterialDataSource"
          [stylingMode]="'outlined'"
          contentTemplate="contentTemplate"
        >
          <div *dxTemplate="let e of 'contentTemplate'">
            <dx-data-grid
              [dataSource]="rawMaterialDataSource"
              [hoverStateEnabled]="true"
              [selectedRowKeys]="[glassWidthRawMaterialCellInfo.value]"
              [focusedRowEnabled]="true"
              [focusedRowKey]="glassWidthRawMaterialCellInfo.value"
              [hoverStateEnabled]="true"
              (onSelectionChanged)="
                onRawMaterialGridSelectionChanged(
                  $event.selectedRowKeys,
                  glassWidthRawMaterialCellInfo,
                  e.component
                )
              "
              height="100%"
            >
              <dxo-selection mode="single"></dxo-selection>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxi-column dataField="code" caption="{{ 'CODE' | translate }}">
              </dxi-column>
              <dxi-column dataField="name" caption="{{ 'NAME' | translate }}">
              </dxi-column>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
      </div>
      <!-- #endregion -->
    </dx-data-grid>
  </div>
  <!-- #endregion -->

  <!-- #region Panel Cam Hammadde Listesi -->
  <div *dxTemplate="let panelGlassData of 'panelGlassRawMaterialIdsTemplate'">
    <dx-data-grid
      [dataSource]="panelGlassData.value"
      keyExpr="lengthMaterialId"
      [showBorders]="true"
      [repaintChangesOnly]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [rowAlternationEnabled]="true"
      (onSaved)="onSaved($event, panelGlassData)"
    >
      <dxi-column
        dataField="lengthMaterialId"
        caption="{{ 'PANELGLASSLENGTHRAWMATERIAL' | translate }}"
        editCellTemplate="panelGlassWidthRawMaterialDropDownBoxEditor"
      >
        <dxo-lookup
          [dataSource]="rawMaterialDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxi-column
        dataField="widthMaterialId"
        caption="{{ 'PANELGLASSWIDTHRAWMATERIAL' | translate }}"
        editCellTemplate="panelGlassWidthRawMaterialDropDownBoxEditor"
      >
        <dxo-lookup
          [dataSource]="rawMaterialDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxo-editing
        mode="row"
        [allowUpdating]="false"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true"
        [useIcons]="true"
      ></dxo-editing>
      <div
        *dxTemplate="
          let panelGlassWidthRawMaterialCellInfo of 'panelGlassWidthRawMaterialDropDownBoxEditor'
        "
      >
        <dx-drop-down-box
          [(value)]="panelGlassWidthRawMaterialCellInfo.value"
          valueExpr="id"
          displayExpr="name"
          placeholder="{{ 'ENTERRAWMATERIAL' | translate }}"
          [showClearButton]="true"
          [dataSource]="rawMaterialDataSource"
          [stylingMode]="'outlined'"
          contentTemplate="contentTemplate"
        >
          <div *dxTemplate="let e of 'contentTemplate'">
            <dx-data-grid
              [dataSource]="rawMaterialDataSource"
              [hoverStateEnabled]="true"
              [selectedRowKeys]="[panelGlassWidthRawMaterialCellInfo.value]"
              [focusedRowEnabled]="true"
              [focusedRowKey]="panelGlassWidthRawMaterialCellInfo.value"
              [hoverStateEnabled]="true"
              (onSelectionChanged)="
                onRawMaterialGridSelectionChanged(
                  $event.selectedRowKeys,
                  panelGlassWidthRawMaterialCellInfo,
                  e.component
                )
              "
              height="100%"
            >
              <dxo-selection mode="single"></dxo-selection>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxi-column dataField="code" caption="{{ 'CODE' | translate }}">
              </dxi-column>
              <dxi-column dataField="name" caption="{{ 'NAME' | translate }}">
              </dxi-column>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
      </div>
      <!-- #endregion -->
    </dx-data-grid>
  </div>
  <!-- #endregion -->
</dx-data-grid>
