<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <dx-data-grid
      id="gridContainer"
      [dataSource]="modelGroupDataSource"
      [showBorders]="true"
      [remoteOperations]="true"
      [repaintChangesOnly]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      (onSaving)="onSaving($event)"
    >
      <dxo-filter-row
        [visible]="true"
        applyFilterText="{{ 'KEYS.APPLYFILTER' | translate }}"
        betweenEndText="{{ 'KEYS.BETWEENEND' | translate }}"
        betweenStartText="{{ 'KEYS.BETWEENSTART' | translate }}"
        resetOperationText="{{ 'KEYS.RESETOPERATION' | translate }}"
        showAllText="{{ 'KEYS.SHOWALL' | translate }}"
      >
        <dxo-operation-descriptions
          between="{{ 'KEYS.BETWEEN' | translate }}"
          contains="{{ 'KEYS.CONTAINS' | translate }}"
          endsWith="{{ 'KEYS.ENDSWITH' | translate }}"
          equal="{{ 'KEYS.EQUAL' | translate }}"
          greaterThan="{{ 'KEYS.GREATERTHAN' | translate }}"
          greaterThanOrEqual="{{ 'KEYS.GREATERTHANOREQUAL' | translate }}"
          lessThan="{{ 'KEYS.LESSTHAN' | translate }}"
          lessThanOrEqual="{{ 'KEYS.LESSTHANOREQUAL' | translate }}"
          notContains="{{ 'KEYS.NOTCONTAINS' | translate }}"
          notEqual="{{ 'KEYS.NOTEQUAL' | translate }}"
          startsWith="{{ 'KEYS.STARTSWITH' | translate }}"
        >
        </dxo-operation-descriptions>
      </dxo-filter-row>
      <dxo-header-filter [visible]="true">
        <dxo-texts
          cancel="{{ 'KEYS.CANCEL' | translate }}"
          emptyValue="{{ 'KEYS.EMPTYVALUE' | translate }}"
          ok="{{ 'KEYS.OK' | translate }}"
        >
        </dxo-texts>
      </dxo-header-filter>
      <dxo-editing
        mode="batch"
        [allowAdding]="true"
        [allowDeleting]="true"
        [allowUpdating]="true"
        [useIcons]="true"
        [refreshMode]="'full'"
        [confirmDelete]="true"
      >
        <dxo-texts
          addRow="{{ 'KEYS.ADDROW' | translate }}"
          cancelAllChanges="{{ 'KEYS.CANCELALLCHANGES' | translate }}"
          cancelRowChanges="{{ 'KEYS.CANCELROWCHANGES' | translate }}"
          confirmDeleteMessage="{{ 'KEYS.CONFIRMDELETEMESSAGE' | translate }}"
          confirmDeleteTitle="{{ 'KEYS.CONFIRMDELETETITLE' | translate }}"
          deleteRow="{{ 'KEYS.DELETEROW' | translate }}"
          editRow="{{ 'KEYS.EDITROW' | translate }}"
          saveAllChanges="{{ 'KEYS.SAVEALLCHANGES' | translate }}"
          saveRowChanges="{{ 'KEYS.SAVEROWCHANGES' | translate }}"
          undeleteRow="{{ 'KEYS.UNDELETEROW' | translate }}"
          validationCancelChanges="{{
            'KEYS.VALIDATIONCANCELCHANGES' | translate
          }}"
        >
        </dxo-texts>
      </dxo-editing>

      <dxo-paging [pageSize]="10"> </dxo-paging>
      <dxo-pager
        [visible]="true"
        [displayMode]="'full'"
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true"
        infoText="{{ 'KEYS.INFOTEXT' | translate }}"
      >
      </dxo-pager>

      <dxo-filter-panel [visible]="true">
        <dxo-texts
          clearFilter="{{ 'KEYS.CLEARFILTER' | translate }}"
          createFilter="{{ 'KEYS.CREATEFILTER' | translate }}"
          filterEnabledHint="{{ 'KEYS.FILTERENABLEDHINT' | translate }}"
        >
        </dxo-texts>
      </dxo-filter-panel>
      <dxo-filter-builder [allowHierarchicalFields]="true">
        <dxo-filter-operation-descriptions
          between="{{ 'KEYS.BETWEEN' | translate }}"
          contains="{{ 'KEYS.CONTAINS' | translate }}"
          endsWith="{{ 'KEYS.ENDSWITH' | translate }}"
          equal="{{ 'KEYS.EQUAL' | translate }}"
          greaterThan="{{ 'KEYS.GREATERTHAN' | translate }}"
          greaterThanOrEqual="{{ 'KEYS.GREATERTHANOREQUAL' | translate }}"
          isBlank="{{ 'KEYS.ISBLANK' | translate }}"
          isNotBlank="{{ 'KEYS.ISNOTBLANK' | translate }}"
          lessThan="{{ 'KEYS.LESSTHAN' | translate }}"
          lessThanOrEqual="{{ 'KEYS.LESSTHANOREQUAL' | translate }}"
          notContains="{{ 'KEYS.NOTCONTAINS' | translate }}"
          notEqual="{{ 'KEYS.NOTEQUAL' | translate }}"
          startsWith="{{ 'KEYS.STARTSWITH' | translate }}"
        >
        </dxo-filter-operation-descriptions>
        <dxo-group-operation-descriptions
          and="{{ 'KEYS.AND' | translate }}"
          notAnd="{{ 'KEYS.NOTAND' | translate }}"
          notOr="{{ 'KEYS.NOTOR' | translate }}"
          or="{{ 'KEYS.OR' | translate }}"
        >
        </dxo-group-operation-descriptions>
      </dxo-filter-builder>

      <dxo-filter-builder-popup
        title="{{ 'KEYS.FILTERPOPUPTITLE' | translate }}"
      >
      </dxo-filter-builder-popup>

      <dxi-column
        dataField="id"
        [allowEditing]="false"
        [visible]="false"
      ></dxi-column>
      <dxi-column
        dataField="code"
        caption="{{ 'KEYS.CODE' | translate }}"
      ></dxi-column>
      <dxi-column
        dataField="name"
        caption="{{ 'KEYS.NAME' | translate }}"
      ></dxi-column>
    </dx-data-grid>
  </div>
</div>
