<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <dx-data-grid
      id="gridContainer"
      [dataSource]="modelGroupDataSource"
      [showBorders]="true"
      [remoteOperations]="true"
      [repaintChangesOnly]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      (onSaving)="onSaving($event)"
    >
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-editing
        mode="batch"
        [allowAdding]="true"
        [allowDeleting]="true"
        [allowUpdating]="true"
        [useIcons]="true"
        [refreshMode]="'full'"
        [confirmDelete]="true"
      >
        <dxo-texts
          addRow="{{ 'KEYS.ADDROW' | translate }}"
          cancelAllChanges="{{ 'KEYS.CANCELALLCHANGES' | translate }}"
          cancelRowChanges="{{ 'KEYS.CANCELROWCHANGES' | translate }}"
          confirmDeleteMessage="{{ 'KEYS.CONFIRMDELETEMESSAGE' | translate }}"
          confirmDeleteTitle="{{ 'KEYS.CONFIRMDELETETITLE' | translate }}"
          deleteRow="{{ 'KEYS.DELETEROW' | translate }}"
          editRow="{{ 'KEYS.EDITROW' | translate }}"
          saveAllChanges="{{ 'KEYS.SAVEALLCHANGES' | translate }}"
          saveRowChanges="{{ 'KEYS.SAVEROWCHANGES' | translate }}"
          undeleteRow="{{ 'KEYS.UNDELETEROW' | translate }}"
          validationCancelChanges="{{
            'KEYS.VALIDATIONCANCELCHANGES' | translate
          }}"
        >
        </dxo-texts>
      </dxo-editing>

      <dxi-column
        dataField="id"
        [allowEditing]="false"
        [visible]="false"
      ></dxi-column>
      <dxi-column
        dataField="code"
        caption="{{ 'KEYS.CODE' | translate }}"
      ></dxi-column>
      <dxi-column
        dataField="name"
        caption="{{ 'KEYS.NAME' | translate }}"
      ></dxi-column>
    </dx-data-grid>
  </div>
</div>
