.logo-lg img {
  max-height: 40px; // İsteğe bağlı maksimum yükseklik
  width: 100%; // Orantıları korur
  background: transparent; // Logo transparent olur
}

.logo {
  background: transparent !important;
}

.logo-lg, .logo-sm {
  background: transparent !important;
}
