<form (submit)="onSubmit($event)">
  <div class="h3 pb-1">{{ "GENERALINFORMATION" | translate }}</div>
  <div class="row pb-4">
    <div class="col pb-2">
      <dx-text-box
        [(value)]="formula.code"
        label="{{ 'FORMULACODE' | translate }}"
        placeholder="{{ 'ENTERFORMULACODE' | translate }}"
        [stylingMode]="'outlined'"
        [labelMode]="'floating'"
      >
        <dx-validator>
          <dxi-validation-rule
            type="required"
            message="{{ 'FORMULACODENOTEMPTY' | translate }}"
          ></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
    <div class="col pb-2">
      <dx-text-box
        [(value)]="formula.name"
        label="{{ 'FORMULANAME' | translate }}"
        placeholder="{{ 'ENTERFORMULANAME' | translate }}"
        [stylingMode]="'outlined'"
        [labelMode]="'floating'"
      >
        <dx-validator>
          <dxi-validation-rule
            type="required"
            message="{{ 'FORMULANAMENOTEMPTY' | translate }}"
          ></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
    <div class="col pb-2">
      <dx-select-box
        label="{{ 'MODEL' | translate }}"
        [(value)]="formula.modelId"
        [inputAttr]="{ 'aria-label': 'Owner' }"
        [stylingMode]="'outlined'"
        [labelMode]="'floating'"
        valueExpr="id"
        displayExpr="name"
        placeholder="{{ 'ENTERMODEL' | translate }}"
        [showClearButton]="true"
        [dataSource]="modelDataSource"
      >
        <dx-validator>
          <dxi-validation-rule
            type="required"
            message="{{ 'MODELNOTEMPTY' | translate }}"
          ></dxi-validation-rule>
        </dx-validator>
      </dx-select-box>
    </div>
    <div class="col pb-2">
      <dx-select-box
        label="{{ 'RAWMATERIAL' | translate }}"
        [(value)]="formula.rawMaterialId"
        [inputAttr]="{ 'aria-label': 'Owner' }"
        [stylingMode]="'outlined'"
        [labelMode]="'floating'"
        valueExpr="id"
        displayExpr="name"
        placeholder="{{ 'ENTERRAWMATERIAL' | translate }}"
        [showClearButton]="true"
        [dataSource]="rawMaterialDataSource"
      >
        <dx-validator>
          <dxi-validation-rule
            type="required"
            message="{{ 'RAWMATERIALNOTEMPTY' | translate }}"
          ></dxi-validation-rule>
        </dx-validator>
      </dx-select-box>
    </div>
    <div class="col pb-2">
      <dx-number-box
        [(value)]="formula.usageAmount"
        label="{{ 'USAGEAMOUNT' | translate }}"
        placeholder="{{ 'ENTERUSAGEAMOUNT' | translate }}"
        [stylingMode]="'outlined'"
        [labelMode]="'floating'"
        format="#,##0.00"
      >
        <dx-validator>
          <dxi-validation-rule
            type="required"
            message="{{ 'USAGEAMOUNTEMPTY' | translate }}"
          ></dxi-validation-rule>
          <dxi-validation-rule
            type="custom"
            [validationCallback]="usageAmountGreaterThanZero"
            message="{{ 'USAGEAMOUNTGREATERTHANZERO' | translate }}"
          >
          </dxi-validation-rule>
        </dx-validator>
      </dx-number-box>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col pb-2">
      <dx-select-box
        label="{{ 'FORMULATYPE' | translate }}"
        [(value)]="formula.formulaTypeId"
        [inputAttr]="{ 'aria-label': 'Owner' }"
        [stylingMode]="'outlined'"
        [labelMode]="'floating'"
        valueExpr="id"
        displayExpr="name"
        placeholder="{{ 'ENTERFORMULATYPE' | translate }}"
        [showClearButton]="true"
        [dataSource]="formulaTypeDataSource"
      >
        <dx-validator>
          <dxi-validation-rule
            type="required"
            message="{{ 'FORMULATYPENOTEMPTY' | translate }}"
          ></dxi-validation-rule>
        </dx-validator>
      </dx-select-box>
    </div>
    <div class="col pb-2">
      <dx-text-box
        [(value)]="formula.formulaText"
        label="{{ 'FORMULATEXT' | translate }}"
        [stylingMode]="'outlined'"
        [labelMode]="'floating'"
        [readOnly]="true"
      >
        <dx-validator>
          <dxi-validation-rule
            type="async"
            message="{{ 'FORMULAERROR' | translate }}"
            [validationCallback]="executeFormula"
          ></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
  </div>
  <div class="h3 pb-1">{{ "FORMULADETAILS" | translate }}</div>
  <div class="row">
    <div class="col pb-3">
      <dx-data-grid
        [(dataSource)]="formula.formulaDetails"
        keyExpr="id"
        [showBorders]="true"
        [repaintChangesOnly]="true"
        [showColumnLines]="true"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        (onInitNewRow)="onInitNewRow($event)"
        (onEditorPreparing)="editorPreparing($event)"
        (onRowInserted)="onRowChange($event)"
        (onRowRemoved)="onRowChange($event)"
      >
        <dxo-row-dragging
          [allowReordering]="true"
          [onReorder]="onReorder"
          [showDragIcons]="true"
        ></dxo-row-dragging>
        <dxi-column
          dataField="variableType"
          caption="{{ 'VARIABLETYPE' | translate }}"
        >
          <dxo-lookup
            [(dataSource)]="formulaVariableTypes"
            displayExpr="name"
            valueExpr="code"
          >
          </dxo-lookup>
        </dxi-column>

        <dxi-column
          dataField="variableValue"
          dataType="number"
          format="#,##0.00"
          caption="{{ 'VARIABLEVALUE' | translate }}"
        >
        </dxi-column>

        <dxi-column dataField="formulId" caption="{{ 'FORMUL' | translate }}">
          <dxo-lookup
            [dataSource]="getFilteredFormulas"
            displayExpr="name"
            valueExpr="id"
          >
          </dxo-lookup>
        </dxi-column>

        <dxo-editing
          mode="cell"
          [allowUpdating]="true"
          [allowAdding]="true"
          [allowDeleting]="true"
          [confirmDelete]="true"
          [useIcons]="true"
        >
        </dxo-editing>
      </dx-data-grid>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="text-sm-end d-none d-sm-block">
      <dx-button
        text="{{ 'SAVE' | translate }}"
        type="normal"
        [useSubmitBehavior]="true"
      ></dx-button>
      <dx-button
        text="{{ 'CANCEL' | translate }}"
        type="normal"
        (onClick)="onCancel()"
        style="margin-left: 10px"
      ></dx-button>
    </div>
  </div>
</form>
