<div class="title">Genel Bilgiler</div>
<div class="row">
  <div class="col pb-2">
    <dx-text-box
      [(value)]="priceListMaster.code"
      label="Fiyat Listesi Kodu"
      placeholder="Fiyat listesi kodunu yazınız..."
      [stylingMode]="'outlined'"
      [labelMode]="'floating'"
    ></dx-text-box>
  </div>
  <div class="col pb-2">
    <dx-text-box
      [(value)]="priceListMaster.name"
      label="Açıklama"
      [stylingMode]="'outlined'"
      [labelMode]="'floating'"
    ></dx-text-box>
  </div>
  <div class="col pb-2">
    <dx-date-box
      type="date"
      label="Başlangıç Tarihi"
      [(value)]="priceListMaster.firstDate"
      [inputAttr]="{ 'aria-label': 'Date' }"
      [stylingMode]="'outlined'"
      [labelMode]="'floating'"
    >
    </dx-date-box>
  </div>
  <div class="col pb-2">
    <dx-date-box
      type="date"
      label="Bitiş Tarihi"
      [(value)]="priceListMaster.endDate"
      [inputAttr]="{ 'aria-label': 'Date' }"
      [stylingMode]="'outlined'"
      [labelMode]="'floating'"
    >
    </dx-date-box>
  </div>
</div>
<div class="row">
  <div class="col pb-3">
    <dx-data-grid
      [(dataSource)]="priceListMaster.priceListDetails"
      keyExpr="priceListId"
      [showBorders]="true"
      [repaintChangesOnly]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [rowAlternationEnabled]="true"
      (onInitNewRow)="onInitNewRow($event)"
    >
      <dxi-column dataField="modelId" caption="Model">
        <dxo-lookup
          [dataSource]="modelDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="colorId" caption="Renk">
        <dxo-lookup
          [dataSource]="colorDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="glassId" caption="Cam">
        <dxo-lookup
          [dataSource]="glassDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxi-column
        dataField="firstWidth01"
        dataType="number"
        caption="En-1 İlk"
        format=",##0.##"
      >
      </dxi-column>
      <dxi-column
        dataField="lastWidth01"
        dataType="number"
        caption="En-1 Son"
        format=",##0.##"
      >
      </dxi-column>
      <dxi-column
        dataField="firstWidth02"
        dataType="number"
        caption="En-2 İlk"
        format=",##0.##"
      >
      </dxi-column>
      <dxi-column
        dataField="lastWidth02"
        dataType="number"
        caption="En-2 Son"
        format=",##0.##"
      >
      </dxi-column>
      <dxi-column
        dataField="firstHeight"
        dataType="number"
        caption="Yükseklik İlk"
        format=",##0.##"
      >
      </dxi-column>
      <dxi-column
        dataField="lastHeight"
        dataType="number"
        caption="Yükseklik Son"
        format=",##0.##"
      >
      </dxi-column>
      <dxi-column
        dataField="salePrice"
        dataType="number"
        caption="Satış Fiyatı"
        format=",##0.##"
      >
      </dxi-column>
      <dxi-column dataField="currencyId" caption="Döviz Kodu">
        <dxo-lookup
          [dataSource]="currencyDataSource"
          displayExpr="name"
          valueExpr="id"
        >
        </dxo-lookup>
      </dxi-column>
      <dxi-column
        dataField="priceListMeasurementDifferences"
        caption="Ölçü Farkları (Yükseklik)"
        [visible]="false"
        [showInColumnChooser]="false"
        editCellTemplate="priceListMeasurementDifferencesTemplate"
      >
      </dxi-column>
      <div *dxTemplate="let data of 'priceListMeasurementDifferencesTemplate'">
        <dx-data-grid
          id="priceListMeasurementDifferencesGrid"
          [dataSource]="data.value"
          keyExpr="measurement"
          [showBorders]="true"
          [repaintChangesOnly]="true"
          [showColumnLines]="true"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          (onSaved)="onSaved($event, data)"
          (onRowInserting)="
            onRowInsertingPriceListMeasurementDifferences($event)
          "
        >
          <dxi-column
            dataField="measurement"
            caption="Yükseklik Farkı"
            dataType="number"
            format=",##0.##"
          >
          </dxi-column>
          <dxi-column
            dataField="percentDifference"
            caption="Fark (%)"
            dataType="number"
            format=",##0.##"
          >
          </dxi-column>
          <dxi-column
            dataField="currencyDifference"
            caption="Fark"
            dataType="number"
            format=",##0.##"
          >
          </dxi-column>
          <dxi-column
            dataField="salePrice"
            caption="Satış Fiyatı"
            dataType="number"
            format=",##0.##"
          >
          </dxi-column>
          <dxo-editing
            mode="row"
            [allowUpdating]="true"
            [allowAdding]="true"
            [allowDeleting]="true"
            [confirmDelete]="true"
            [useIcons]="true"
          ></dxo-editing>
        </dx-data-grid>
      </div>

      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true"
        [useIcons]="true"
      ></dxo-editing>
    </dx-data-grid>
  </div>
</div>
<div class="row align-items-end">
  <div class="text-sm-end d-none d-sm-block">
    <dx-button
      text="Kaydet"
      type="normal"
      icon="save"
      (onClick)="onSubmit()"
    ></dx-button>
    <dx-button
      text="Vazgeç"
      type="normal"
      icon="close"
      (onClick)="onSubmit()"
    ></dx-button>
  </div>
</div>

<!-- <form (ngSubmit)="onSubmit()" #form="ngForm">
  <dx-form
    id="priceListMaster"
    [formData]="priceListMaster"
    [labelMode]="'floating'"
    [showColonAfterLabel]="true"
  >
    <dxi-item itemType="group" [colCount]="4" caption="Genel Bilgiler">
      <dxi-item dataField="code">
        <dxo-label text="Fiyat Listesi Kodu"> </dxo-label>
      </dxi-item>
      <dxi-item dataField="name">
        <dxo-label text="Açıklama"> </dxo-label>
      </dxi-item>
      <dxi-item dataField="firstDate" editorType="dxDateBox">
        <dxo-label text="Başlangıç Tarihi"> </dxo-label>
      </dxi-item>
      <dxi-item dataField="endDate" editorType="dxDateBox">
        <dxo-label text="Bitiş Tarihi"> </dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Detay Bilgiler">
      <dxi-item dataField="priceListDetails">
        <div *dxTemplate="let priceListeDetailData of 'priceListDetails'">
          <dx-data-grid
            [dataSource]="priceListeDetailData"
            keyExpr="priceListId"
            [showBorders]="true"
            [repaintChangesOnly]="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [rowAlternationEnabled]="true"
            (onSaved)="onSaved($event, priceListeDetailData)"
          >
            <dxi-column dataField="priceListId"> </dxi-column>
            <dxi-column dataField="modelId"> </dxi-column>
            <dxi-column dataField="colorId">
              <dxo-lookup
                [dataSource]="colorDataSource"
                displayExpr="name"
                valueExpr="id"
              >
              </dxo-lookup>
            </dxi-column>
            <dxo-editing
              mode="row"
              [allowUpdating]="true"
              [allowAdding]="true"
              [allowDeleting]="true"
              [confirmDelete]="true"
              [useIcons]="true"
            ></dxo-editing>
          </dx-data-grid>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item
      itemType="button"
      horizontalAlignment="left"
      [buttonOptions]="buttonOptions"
    >
    </dxi-item>
  </dx-form>
</form> -->
